<footer
    class="flex flex-row place-self-end justify-between items-end mx-auto text-modern_grey text-lg p-1 bg-comic_blue shadow-xl">
    <img src="../../../img/footer_lambiek.png" alt="" width="140px" class="shrink">
    <a href="">Contact Us</a>
    <a href="">About Searching</a>
    <a href="">General Conditions</a>
    <a href="">Pricay Statement</a>
    <a href="">Business Information</a>
    <address class="flex flex-col h-full text-modern_white_smoke font-medium">
        <p class="h-min text-xs">Koningstraat 27A</p>
        <p class="h-min text-xs">1011 ET Amsterdam</p>
        <p class="h-min text-xs">KVK: 33122590</p>
    </address>
</footer>