<header
    class="flex flex-row justify-between items-end mx-auto w-full text-modern_grey text-md p-3 bg-comic_blue shadow-xl font-roboto">
    <img src="../../../img/lambiek_main.png" alt="" width="340px" class="shrink">
    <nav class=" flex flex-row flex-wrap justify-evenly  w-full items-center">
        <a href="home.php" class="hover:text-modern_light_blue px-1">Home</a>
        <a href="comiclopedia.php" class="hover:text-modern_light_blue px-1">Comiclopedia</a>
        <a href="webshop.php" class="hover:text-modern_light_blue">Webshop</a>
        <a href="#" class="hover:text-modern_light_blue px-1">Info</a>
        <a href="#" class="hover:text-modern_light_blue px-1">News</a>
        <a href="contact.php" class="hover:text-modern_light_blue px-1">Contact</a>
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            viewBox="0 0 24 24" class="w-7 h-7 hover:text-modern_white_smoke px-1">
            <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
        </svg>
    </nav>
    <div class="bg-modern_light_blue text-modern_white_smoke absolute top-[2px] right-[18%] w-fit p-1 shadow-lg">
        <p class="">Shopping Cart</p>
    </div>
</header>