<header
    class="flex flex-row justify-between items-end mx-auto text-modern_grey text-lg p-3 mb-6 bg-comic_orange shadow-xl">
    <p class="uppercase text-modern_white_smoke text-5xl font-sans">lambiek</p>
    <nav class=" flex flex-row flex-wrap justify-evenly  w-full items-center">
        <a href="home.php" class="hover:text-comic_yellow px-1">Home</a>
        <a href="comiclopedia.php" class="hover:text-comic_yellow px-1">Comiclopedia</a>
        <a href="webshop.php" class="hover:text-comic_yellow">Webshop</a>
        <a href="#" class="hover:text-comic_yellow px-1">Info</a>
        <a href="#" class="hover:text-comic_yellow px-1">News</a>
        <a href="#" class="hover:text-comic_yellow px-1">Contact</a>
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            viewBox="0 0 24 24" class="w-6 h-6 hover:text-comic_yellow px-1">
            <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
        </svg>
    </nav>
</header>