<header class="flex flex-row justify-between mx-auto w-3/5 text-red-600 text-xl p-2 bg-old_paper-200">
    <img src="https://www.lambiek.net/share/images/branding/lambiek-logo_egaal.png" alt="oops" width="280" class="">
    <nav class=" flex flex-row justify-evenly w-full items-center">
        <a href="/" class="">Home</a>
        <a href="/src/php/pages/comiclopedia.php" class="">Comiclopedia</a>
        <a href="#" class="">webshop</a>
        <a href="#" class="">info</a>
        <a href="#" class="">news</a>
        <a href="#" class="">contact</a>
    </nav>
</header>