<div class="px-6 bg-comic_blue select-none mb-6 h-fit ">

    <form action="search.php" method="POST" class="w-full h-36 flex flex-col items-center justify-evenly">
        <div class=" relative w-3/5">
            <!-- Search Icon -->
            <div class="flex absolute inset-y-0 left-0 items-center pl-1 pointer-events-none">
                <img src="../../../img/lambiek_search.png" class="w-9 h-9">
            </div>
            <!-- Search bar -->
            <input type="search" name="search" id="search" list="suggestions" placeholder="Search the Comiclopedia"
                class="bg-modern_white_smoke content-center text-modern_dark_silver text-sm rounded-3xl w-full pl-10 p-2.5 "
                placeholder="Search" required="">
        </div>
        <datalist id="suggestions">
            <option></option>
        </datalist>

        <div class="flex justify-center text-sm" id="search_filter_buttons_container">
            <div>
                <input type="checkbox" id="blank" name="blank" class="invisible peer">
                <label for="blank"
                    class="text-modern_white_smoke m-1 rounded-xl px-2 py-1 peer-checked:text-modern_light_blue peer-invalid:text-modern_white_smoke bg-transparent">All</label>
            </div>

            <div>
                <input type="checkbox" id="filterFirstName" name="filterFirstName" class="invisible peer">
                <label for="filterFirstName"
                    class="text-modern_white_smoke m-1 rounded-xl px-2 py-1 peer-checked:text-modern_light_blue peer-invalid:text-modern_white_smoke bg-transparent">First
                    name</label>
            </div>

            <div>
                <input type="checkbox" id="filterLastName" name="filterLastName" class="invisible peer">
                <label for="filterLastName"
                    class="text-modern_white_smoke m-1 rounded-xl px-2 py-1 peer-checked:text-modern_light_blue peer-invalid:text-modern_white_smoke bg-transparent">Last
                    name</label>
            </div>

            <!-- <input type="checkbox" id="filterContent" name="filterContent" class="invisible">
            <label for="filterContent"
                class="bg-old_paper-100 m-1 rounded-xl px-2 py-1 hover:shadow-inner hover:bg-modern_light_blue">Article
                content</label> -->

            <!-- <input type="checkbox" id="filterCountry" name="filterCountry" class="invisible">
            <label for="filterCountry"
                class="bg-old_paper-100 m-1 rounded-xl px-2 py-1 hover:shadow-inner hover:bg-modern_light_blue">Country</label> -->
            <div>
                <input type="checkbox" id="filterRealName" name="filterRealName" class="invisible peer">
                <label for="filterRealName"
                    class="text-modern_white_smoke m-1 rounded-xl px-2 py-1 peer-checked:text-modern_light_blue peer-invalid:text-modern_white_smoke bg-transparent">Real
                    name</label>
            </div>

            <div>
                <input type="checkbox" id="filterPageTitle" name="filterPageTitle" class="invisible peer">
                <label for="filterPageTitle"
                    class="text-modern_white_smoke m-1 rounded-xl px-2 py-1 peer-checked:text-modern_light_blue peer-invalid:text-modern_white_smoke bg-transparent">Article
                    title</label>
            </div>

            <div>
                <input type="checkbox" id="filterKeywords" name="filterKeywords" class="invisible peer">
                <label for="filterKeywords"
                    class="text-modern_white_smoke m-1 rounded-xl px-2 py-1 peer-checked:text-modern_light_blue peer-invalid:text-modern_white_smoke bg-transparent">Keywords</label>
            </div>

        </div>
        <input type="submit" value="Search"
            class="bg-modern_white_smoke ml-4 rounded-3xl px-2 py-1 w-36 text-gray-600 hover:text-modern_light_blue">

        <script src="../../js/search_filters.js"></script>
        <script src="../../js/search_suggestions.js"></script>
    </form>

</div>