/* Content Font */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
/* Headers */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* Comiclopedia */
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        /* Background colour used for the gaps along the sides of the pages */
        @apply bg-modern_grey
    }

    .page_content {
        /* Class used as foreground that contains most other components/content  */
        @apply w-5/6 max-w-full min-h-screen h-fit mx-auto bg-[url('../img/background_paper.jpg')] p-4 px-6 font-roboto
    }
}


/* Customizing styling for classes used inside the 
comiclopedia article content, as they exists in the DB */
.bodytext {
    @apply my-8
}

.cmc-img {
    @apply w-fit break-words
}

.cmc-img img {
    @apply inline p-3 bg-modern_white_smoke shadow-xl
}

#comiclopedia_article a {
    @apply text-comic_blue mx-auto w-fit inline
}
.content_info {
    margin-bottom: 50px;
}

.artist_title {
    margin-bottom: 20px;
}

.padding_element {
    max-width: 50%;
    padding: 50px;
    margin-bottom: 50px;
}

#carouselExampleCaptions {
    width: 33vw;
    height: 75vh;
}

#carouselExampleCaptions img {
    width: 100%;
    height: 100%;
}

#carouselExampleCaptions h1 {
    text-align: center;
}